.gitignore
.dockerignore
.git/
node_modules/
dist/
.env
.env.*
.npmrc
secrets/
*pem
*.md
README*.md
coverage/
.docker-slim-state/
logs/
tmp/
docker-compose.yaml
Dockerfile
.versionbot/
.github/
documentation/